body{
    margin: 2px;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.main{
    background-color: #0005;
    padding: 10px;
    margin-left: -2px;
    margin-right: -2px;
}
.logo{
    float: left;
}
nav{
    text-align: left;
    height: 29px;
    margin-bottom: 2px;
}

ul{
    padding: 0px;
    margin: 0 0 0 0px;
    list-style: none;
}
li{
    float: right;
}
.logo img{
    position: absolute;
    margin-top: -8px;
    height: 47px;
    width: 47px;
}

nav a{
 font-size: 25px; 
 width: 130px;
 display: block;
 margin-left: 10px;
 margin-top: 0px;
 padding: 0px;
 text-decoration: none;  
 text-align: center;
 color:white;
}
nav a:hover{
    text-decoration: underline;
}
.ashok{
    margin-left: -2px;
    margin-bottom: -12px;
}
.message{
    width: 550px;
    background-color: black;
    height: 260px;
    margin-left: 170px;
}
.button1{
    font-size: 15px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 4px;
    width: 485px;
}
.button1:hover{
    color: white;
    background-color: blue;
}
.foot{
    color: antiquewhite;
    background-color: black;
    padding: 8px;
    margin-left: -2px;
}