
body{
    margin: 2px;
    background-image: url("ashokhome1.jpg");
    background-size: cover;
    height: 100vh; 
}
.main{
    background-color:#0005;
    padding: 10px;
    margin-left: -2px;
    margin-right: -2px;
}
.logo{
    float: left;
}
nav{
    margin-top: -2px;
    height: 18px;
    margin-top: 12px;
}
ul{
    padding: 0px;
    margin: 0 0 0 0px;
    list-style: none;
}
li{
    float: right;
}
.logo img{
    position: absolute;
    margin-top: -8px;
    height: 44px;
    width: 44px;
}
nav a{
    font-size: 25px; 
    width: 130px;
    display: block;
    margin-left: 10px;
    margin-top: -15px;
    padding: 0px;
    text-decoration: none;  
    text-align: center;
    color:white;
}
nav a:hover{
    text-decoration: underline;
}
.bg{
    margin-left: 5px;
    width: 800px;
    background-color: deepskyblue;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    margin-left: 2px;
    margin-bottom: 3px;
}
.button1{
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
}
.button1:hover{
    color: white;
    background-color: blue;
}
.button2{
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
}
.button2:hover{
    color: white;
    background-color: blue;
}


.foot{
    color: antiquewhite;
    background-color: black;
    padding: 8px;
    margin-left: -2px;
}