body{
    margin: 2px;
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh; 
}
header{
    background-color:whitesmoke ;
    color: goldenrod;
    text-align:center;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    font-size: medium;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.main{
    background-color: #0005;
    padding: 10px;
}
.logo{
    float: left;
}
nav{
    text-align: left;
    padding-bottom: 35px;
}
ul{
    padding: 0px;
    margin: 0 0 0 0px;
    list-style: none;
}
li{
    float: right;
}
.logo img{
    position: absolute;
    margin-top: -7px;
    height: 50px;
    width: 50px;
}

nav a{
 font-size: 25px; 
 width: 125px;
 display: block;
 margin-left: 5px;
 margin-top: 2px;
 text-decoration: none;  
 text-align: center;
 color: white;
}
nav a:hover{
    text-decoration: underline;
}
.foot{
    color: antiquewhite;
    background-color: black;
    padding: 8px;
}